//Styles for the Poser Holder
.poster-holder{
	float: left;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	overflow: auto;
	width: calc(100% - 400px);
	display: flex;
	justify-content:center;
	align-items:center;
	padding: 30px;
}

// Poster Styles - Default is Layout 1
.poster{
	background: $color-light;
	@include box-shadow(0px 0px 10px 2px rgba(100,100,100,0.25));
	width: 600px;
	height: 800px;
	position: relative;

	.poster-image{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: center;
		z-index: 1;
	}
	.poster-image-overlay{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,0);
		z-index: 10;;
	}
	.poster-text-holder{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1000;
		display: flex;
		justify-content:center;
		align-items:center;
		overflow: hidden;
		padding: 50px;

		h1{
			float: left;
			margin: 0px 0px 0px 0px;
			width: 100%;
			text-align: center;
			color: $color-dark;
			font-size: 20pt;
			line-height: 20pt;
			font-weight: 700;
		}
		h2{
			float: left;
			margin: 15px 0px 0px 0px;
			width: 100%;
			font-weight: 400;
			text-align: center;
			color: $color-dark;
			font-size: 20pt;
			line-height: 20pt;
		}
	}
	.poster-border{
		position: absolute;
		top: 15px;
		left: 15px;
		height: calc(100% - 30px);
		width: calc(100% - 30px);
		z-index: 100;
		background: rgba(0,0,0,0);
		border:20px solid #fff;
	}
}

// Poster Styles - Layout 2
.poster.layout_2{
	.poster-image{
		top: 33.33%;
		height: 66.66%;
	}
	.poster-image-overlay{
		top: 33.33%;
		height: 66.66%;
	}
	.poster-text-holder{
		height: 33.33%;
		padding: 25px;
	}
	.poster-border{
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}